<%= form_with model: @customer, url: admin_customer_path do |f| %>


<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
    <div class="offset-md-1 pb-5 mb-5">
      <h5 class="d-inline-block my-4 bg-light">　<%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集　</h5>
      <table class="table table-sm table-borderless">
        <tr>
          <td><%= f.label "会員ID" %></td>
          <td><%= @customer.id %></td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "氏名" %></td>
          <td class="pr-5"><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "フリガナ" %></td>
          <td class="pr-5"><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <td class="pr-3"><%= f.label "郵便番号" %></td>
          <td class="pr-5"><%= f.text_field :postal_code %></td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "住所" %></td>
          <td colspan="3"><%= f.text_field :address, class: "col-12" %></td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "電話番号" %></td>
          <td><%= f.text_field :telephone_number %></td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "メールアドレス" %></td>
          <td class="pr-5"><%= f.email_field :email, autocomplete: "email" %></td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"><%= f.label "会員ステータス" %></td>
          <td class="pr-5">
            <label><%= f.radio_button :is_deleted, false %>有効</label>
            <label><%= f.radio_button :is_deleted, true %>無効</label>
          </td>
          <td><br></td>
        </tr>
        <tr>
          <td class="pr-5"></br></td>
          <td><%= f.submit "変更を保存", class: "btn btn-success rounded btn-sm d-grid gap-2 col-8 mx-auto" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% end %>


