<%= form_with model: @customer, url: customer_registration_path do |f| %>


<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
    <div class="offset-md-1 pb-5 mb-5">
      <h5 class="d-inline-block m-4 ml-5 bg-light">　新規会員登録　</h5>
      <table class="table table-sm table-borderless">
        <tr>
          <td><%= f.label "名前" %></td>
          <td class="pr-2"><%= f.label "(姓)" %></td>
          <td class="pr-5"><%= f.text_field :last_name %></td>
          <td><%= f.label "(名)" %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td><%= f.label "フリガナ" %></td>
          <td class="pr-2"><%= f.label "(セイ)" %></td>
          <td><%= f.text_field :last_name_kana %></td>
          <td class="pr-2"><%= f.label "(メイ)" %></td>
          <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td><%= f.label "メールアドレス" %></td>
            <td><br></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label "郵便番号(ハイフンなし)" %></td>
            <td><br></td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td><%= f.label "住所" %></td>
            <td><br></td>
            <td colspan="3"><%= f.text_field :address, class: "col-12" %></td>
          </tr>
          <tr>
            <td><%= f.label "電話番号(ハイフンなし)" %></td>
            <td><br></td>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <td>
              <%= f.label "パスワード" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </td>
            <td><br></td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <td><%= f.label "パスワード(確認用)" %></td>
            <td><br></td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr>
            <td><br></td>
            <td><br></td>
            <td><%= f.submit "新規登録", class: "btn btn-success rounded btn-sm d-grid gap-2 col-8 mx-auto" %></td>
          </tr>
        </table>

        <h4 class=" d-inline-block m-4 ml-5 bg-light">　既に登録済みの方　</h4>
        <p><%= link_to "こちら", new_customer_session_path %>  からログインしてください。</p>
      </div>
    </div>
</div>

<% end %>


