<div class="container-fluid">
    <div class="row">
      <div class="col-2 offset-1 text-center">
        <div class="h5 bg-light mt-5 my-3">注文情報入力</div>
      </div>
    </div>
    <div class="h5 ml-5">
      <strong>支払方法</strong>
    </div>
    <%= form_with model: @order, url:  confirm_public_orders_path do |f| %>
      <div class="col-2 mx-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      </div>
      <div class="col-2 mx-5">
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </div>
      <div class="h5 mt-3 ml-5">
        <strong class=>お届け先</strong>
      </div>
      <div class="col-10 mx-5">
        <div><%= current_customer.postal_code %><%= current_customer.address %></div>
        <div><%= @order.receiver %></div>
      </div>
      <div class="text-center m-5">
        <td><%= f.submit "確認画面に進む", class: "btn btn-primary rounded" %></td>
      </div>
    <% end %>
</div>
