<%= form_with model: @item, url: public_items_path do |f| %>
<div class="container">
  <div class="row">
    <div class="offset-md-1">
      <h5 class="d-inline-block m-5 ml-5">　商品一覧(全<%= @item.count %>件)　</h5>
    </div>
  </div>
  <div class="row ">
    <div class="mx-auto col-md-8 col-md-offset-2">
        <% @item.each do |item| %>
        <div class="contents">
          <div class="content-item">
            <%= link_to public_item_path(item.id) do %>
              <%= image_tag item.get_image(600, 400) %>
            <% end %>
          </div>
          <div class="content">
            <div class="content-body"><%= item.name %></div>
            <div class="content-body"><%= item.price %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>