<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="social"></div>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-info text-dark">
        <div class="container">
          <a class="navbar-brand p-4 h1" href="/"><span><%= "LOGO" %></span></a>
            <ul class="navbar-nav ml-auto"></ul>
            <% if customer_signed_in? %>
              <li class="nav-link">
                <%= link_to "マイページ", class: "text-dark " %>
              </li>
              <li class="nav-link">
                <%= link_to "商品一覧",  class: "text-dark" %>
              </li>
              <li class="nav-link">
                <%= link_to "カート", class: "text-dark" %>
              </li>
              <li class="nav-link">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-dark" %>
              </li>
              <% else %>
              <li class="nav-link btn btn-outline-secondary">
                <%= link_to "About", public_homes_about_path, class: "text-dark" %>
              </li>
              <li class="nav-link btn btn-outline-secondary">
                <%= link_to "商品一覧", class: "text-dark" %>
              </li>
              <li class="nav-link btn btn-outline-secondary">
                <%= link_to "新規登録", class: "text-dark" %>
              </li>
              <li class="nav-link btn btn-outline-secondary">
                <%= link_to "ログイン", class: "text-dark" %>
              </li>
              <% end %>
            </ul>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
      </div>
    </footer>
  </body>
</html>
